* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;

  &::-webkit-scrollbar{
    width: 10px;
    background: black;
  }
  &::-webkit-scrollbar-thumb{
    background: white;
    border: 2px solid black;
    border-radius: 10px;

  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {

}

body {
  color: var(--Letter-Primary);
  background: var(--Background-Primary);
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  // Colores de la aplicacion
  --Primary-Color: #fdc227;

  --Background-Primary: #000000;
  --Background-Secundary: #FFF;

  --Letter-Primary: #ffffff;
  --Letter-Secondary: #000000;

  // Variables de datos
  --Height-Navbar: 90px;

}